# Automatically normalize line endings (to LF) for all text-based files.
* text=auto eol=lf

# export-ignore rules (to keep only 'src' folder for release)
.gitignore export-ignore
.gitattributes export-ignore
.github export-ignore
src/.clang-format export-ignore
doc export-ignore
release export-ignore
Jenkinsfile export-ignore
debian export-ignore
CONTRIBUTING.md export-ignore
dts/db  export-ignore
dts/rb5  export-ignore
dts/rpi/pcb1637*.dts  export-ignore
dts/rpi/pcb1718*.dts  export-ignore
