# Automatically normalize line endings (to LF) for all text-based files.
* text=auto eol=lf

# export-ignore rules (to keep only 'src' folder for release)
.gitignore export-ignore
.gitattributes export-ignore
doc export-ignore
release export-ignore
readme.md export-ignore