/dts-v1/;
/plugin/;

/ {
	compatible = "qcom,apq8016-sbc", "qcom,apq8016", "qcom,sbc";

	fragment@1 {
		target = <&blsp_i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			cam0: cam0@10 {
				status = "ok";
				compatible = "st,vd66gy";
				reg = <0x10>;
				clocks = <&camera_clk_12M>;
				clock-names = "xclk";
				vcore-supply = <&v1v2>;
				vddio-supply = <&v1v8>;
				vana-supply = <&v2v8>;
				reset-gpios = <&msmgpio 35 1>;
				port {
					cam0_ep: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2>;
						remote-endpoint = <&csiphy0_ep>;
						link-frequencies =
							/bits/ 64 <402000000>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&csiphy0_ep>;
		__overlay__ {
			status="ok";
			remote-endpoint = <&cam0_ep>;
			clock-lanes = <1>;
			data-lanes = <0 2>;
		};
	};

	fragment@100 {
		target = <&soc>;
		__overlay__ {
			camera_clk_24M: camera_clk_24M {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <24000000>;
			};

			camera_clk_12M: camera_clk_12M {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <12000000>;
			};

			v1v2: v1v2@0 {
				compatible = "regulator-fixed";
				regulator-name = "fixed-supply-1v2";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				/* we connect spider 3v3 to 2v8 throught stmipi */
				/*vin-supply = <&v2v8>;*/
			};

			v1v8: v1v8@0 {
				compatible = "regulator-fixed";
				regulator-name = "fixed-supply-1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				/* we connect spider 3v3 to 2v8 throught stmipi */
				/*vin-supply = <&v2v8>;*/
			};

			v2v8: v2v8@0 {
				compatible = "regulator-fixed";
				regulator-name = "fixed-supply-2v8";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				/* we connect spider 3v3 to 2v8 throught stmipi */
				/*vin-supply = <&v2v8>;*/
			};

			camss@1b00000 {
				status = "okay";
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						csiphy0_ep: endpoint {
							status = "disabled";
						};
					};
					port@1 {
						reg = <1>;
						csiphy1_ep: endpoint {
							status = "disabled";
						};
					};
				};
			};
		};
	};

	/* set all i2c to 400Khz */
	fragment@101 {
		target = <&blsp_i2c2>;
		__overlay__ {
			clock-frequency = <400000>;
		};
	};
	fragment@102 {
		target = <&blsp_i2c6>;
		__overlay__ {
			clock-frequency = <400000>;
		};
	};
};

